/deflate/
/diagramly/
/dropbox/
/jscolor/
/json/
/jszip/
/mxgraph/
/sanitizer/
/spin/
/.babelrc
/app.min52.js
/atlas.min.js
/atlas-viewer.min.js
/embed.dev.js
/embed.min.js
/embed-static.min.js
/extensions.min.js
/not-supported.js
/reader.min.js
/viewer.min.js
